h1 {
    color: white;
    text-align: center;
}
h2 {
    color: white;
    text-align: center;
    
}
h3 {
    color: white;
    text-align: center;
}
h4 {
    color: white;
    text-align: center;
}
p {
    color: white;
    margin-left: 140px;
    margin-right: 140px;
}
body {
    background: black;
    font-family: "Garamond (serif)";
}
video {
    display: block;
}
.container {
    display: flex;
  }